services:
  db:
    image: postgres
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
  api:
    image: mohd-api
    environment:
      POSTGRES_URL: "postgresql://postgres:postgres@db:5432/postgres"
    ports:
      - 3000:3000
